pandas
Pillow==7.2.0
pytorch-lightning==0.8.5
tensorboard==2.2.2
torch==1.5.1
torchvision==0.6.1
# for cuda support just run:
# pip install torch==1.5.1+cu101 torchvision==0.6.1+cu101 -f https://download.pytorch.org/whl/torch_stable.html